<!--本の検索フォームを設置-->
<%= search_form_for @search do |f| %>
  <div class="input-group">
    <%= f.label :title_cont, '書籍名で検索' %>
    <span class="input-group-btn col-sm-6">
      <%= f.search_field :title_cont, class: "form-control" %>
      <div class="actions mb-3 mt-2"><%= f.submit '検索' %></div>
    </span>
  </div>
<% end %>

<% if @books.any? %>
  <%= render 'books/book_summary', books: @books %>
  <%= paginate @books %>
<% else %>
  <p>本が登録されていません。</p>
<% end %>

<% if logged_in? %>
  <p></p>
  <%= link_to '本を登録する', new_book_path, class:'btn btn-success' %>
<% else %>
  <p>会員になると新しく本を登録できます。</p>
<% end %>
