<h3 class="bg-success rounded sm-3 col-md-4 h-100">　本の詳細　</h3>
<div class='row'>
  <%= render 'books/book_aside' %>
    <div class="col-sm-8">  
    <!--投稿フォーム-->
      <%= render 'reviews/rev_form' %>
        <p>本id :<%= @book.id %></p>
        <p>ユーザーid :<%= @review.user_id %></p>
      <% if @book.reviews.any? %>
        <% @book.reviews.order(id: :desc).each do |review| %>
          <div class="card mb-3">
            <div class="card-header">
              <%= link_to "レビュータイトル：#{review.rev_title}", book_review_path(@book.id, review.id) %>
            </div>
            <div class="card-body">
              <p>ユーザーID：<%= review.user_id %></p>
              <%= review.content %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h2>この本への書評の投稿がありません。</h2>
      <% end %>
    </div>
</div>
